<!DOCTYPE html>
<html lang="es">

<head th:fragment="cabecera">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monaco</title>
    <link rel="icon" type="image/png" th:href="@{/assets/img/monaco.png}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
          crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600&family=DM+Mono:wght@400;500&display=swap"
          rel="stylesheet">
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>
<body class="sb-nav-fixed">

    <nav th:fragment="barra" class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand ps-3" th:href="@{/}">MONACO</a>
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0"
                id="sidebarToggle" type="button">
            <i class="fas fa-bars"></i>
        </button>
    </nav>

    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav th:fragment="menu"
                 class="sb-sidenav accordion sb-sidenav-dark"
                 id="sidenavAccordion">

                <div class="sb-sidenav-menu">
                    <div class="nav flex-column">

                        <div class="sb-sidenav-menu-heading">Operaciones</div>

                        <a class="nav-link" th:href="@{/pedidos/}">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-cart-shopping"></i></div>
                            Pedidos
                        </a>
                        <a class="nav-link" th:href="@{/prendas/}">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-shirt"></i></div>
                            Prendas
                        </a>
                        <a class="nav-link" th:href="@{/gastos/}">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-money-bill-transfer"></i></div>
                            Gastos
                        </a>

                        <div class="sb-sidenav-menu-heading">Registros</div>

                        <a class="nav-link" th:href="@{/clientes/}">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-users"></i></div>
                            Clientes
                        </a>

                        <a class="nav-link" th:href="@{/historial_pedidos/}">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-clock-rotate-left"></i></div>
                            Historial de Pedidos
                        </a>

                    </div>
                </div>

                <div class="sb-sidenav-footer">
                    <div class="small">Conectado como</div>
                    Monaco Admin
                </div>

            </nav>
        </div>
    </div>

    <div th:fragment="librerias">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
                crossorigin="anonymous"></script>
        <script th:src="@{/js/datatables-simple-demo.js}"></script>
        <script th:src="@{/js/scripts.js}"></script>
        <script th:src="@{/js/validacion.js}"></script>
    </div>

</body>
</html>
